<html>
    <head>
        <title>tutorial</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    </head>
    <body>
        <div class="hero">   
            <script>
                function goPython(){
                    jQuery.ajax({
                    type: "PUT",
                    url: "/",
                    data: {name: "cat", password: "cat", email: "cat@gmail.com"}
                    })
                }
            </script>
            <div class="opening"> 
                <h8>Welcome to Go Flow</h8>
                <br>
<!--------------------------------------------------------------------------
End of Header and Navigation Bar
---------------------------------------------------------------------------->   

                <!-- Button to open the modal login form -->
                <button onclick="document.getElementById('id01').style.display='block'">Login</button>
                <button onclick="document.getElementById('id02').style.display='block'">Create a New Account</button>
                
            </div>
            <!-- The Modal -->
            <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'"
            class="close" title="Close Modal">&times;</span>

            <!-- Modal Content -->
            <form class="modal-content animate" action="/logged_in.html">
                <div class="imgcontainer">
                <img src="static\images\account_icon.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit" onclick="goPython()">Login</button> 

                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
                </div>

                <script>
                    function goPython(){
                        jQuery.ajax({
                        type: "POST",
                        url: "/login",
                        data: {name: "cat", password: "cat", email: "cat@gmail.com"}
                        })
                    }
                </script>
            </form>
            </div>

            <!-- The Modal -->
            <div id="id02" class="modal">
                <span onclick="document.getElementById('id02').style.display='none'"
                class="close" title="Close Modal">&times;</span>
    
                <!-- Modal Content -->
                <!-- <form class="modal-content animate" action="/action_page.php"> -->
                <form class="modal-content animate" action="/welcome.html">
                    <div class="imgcontainer">
                        <img src="static\images\account_icon.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">
                        <!-- <h8>Sign Up</h8> -->
                        <p>Please fill in this form to create an account.</p>
                        <hr>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
        
                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
        
                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
                        <label>
                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label>
        
                        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        
                        <!-- <div class="clearfix">
                            <button1 type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn1">Cancel</button1>
                            <button1 type="submit" class="signup">Sign Up</button1>
                        </div> -->

                        <div class="container" style="background-color:white">
                            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signup">Sign Up</button>
                        </div>
                </form>
                </div>
        </div>
    </body>
</html>